<!-------------------------------------------------------------------->
 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/images/biyscle.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1> Enter your credentials and win free bicycle </h1>
              <p class="lead">Some times its too good AND ITS TRUE. </p>

            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Traveling.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Do you Enjoy Flying Then Show Us how much ?</h1>
              <p class="lead">There is nothing better to Wish how you want to travel with, and who knows mybe it will come True. <br> </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->