{% extends "base.html" %}

{% block nav-location %}class="active"{% endblock %}
{% block titleBlock %} Location{% endblock %}
{% block content %}


    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
            	<h2>Our Story</h2>
            	<p>Six former National Security Agency employees, Ahmad Meer, Kyle McGinn,<br>
            	 Mitchell Hewitt, Brian Saganey, Keith Saunders and Austin Abhari, founded<br>
            	  Central Advertising Agency.  They put there skills that they learn from the <br>
            	  National Security Agency to work to start Central Advertising Agency.<br> </p>
                <h2>Our Partners</h2>
            <div class="partners">
                <ul>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="../static/images/partners/partner1.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="../static/images/partners/partner2.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="../static/images/partners/partner3.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="../static/images/partners/partner4.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="../static/images/partners/partner5.png"></a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </section><!--/#partner-->

{% endblock %}