{% extends "base.html" %}


{% block nav-performances %}class="active"{% endblock %}
{% block titleBlock %} Bike Contest {% endblock %}
{% block content %}
<form action="contest1" method = "POST">
    {% csrf_token %}
	<h1 align="center"> Win a new single-track bike!</h1>
	
	<br></br>
	<h2 align="center"> Thanks to the competitors at Tour de Flagstaff</h2>
	<h2 align="center"> (No purchase necessary)</h2>
	
	
	<CENTER><img src="static/img/flexi_bike.jpg" alt="Flexibike" style="width:304px;height:228px" title="http://www.yankodesign.com/images/design_news/2013/10/17/flexi_bike.jpg"></CENTER>
	
	<br></br>

	<h3 align="center"> Please fill out the information below, thank you.</h3>
	
	<br></br>
	<p align="center"> First Name: </p>
    <p align="center">{{form.first_name}}</p>
	<p align="center"> Last Name: </p>
    <p align="center">{{form.last_name}}</p>
	<p align="center"> Email: </p>
	<p align="center">{{form.email}}</p>
	<p align="center"> Age: </p>
	<p align="center">{{form.age}}</p>
	<p align="center"> Zip: </p>
	<p align="center">{{form.zip}}</p>

    <CENTER><input type="submit" value = "Submit"/></CENTER>
</form>
{% endblock %}

