{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %}Home {% endblock %}
{% block content %}
{% include '_carousel.html' %}


    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Creating Change, Shaping Perception</h2>
                <p class="lead"> NASA is an AZ based Strategic Marketing Agency that builds upon all markets of authentic purpose driven brands.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Get Loud with your Business</h2>
                            <h3>Contest driven information</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Voice your business</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Download information</h2>
                            <h3>Lorem ipsum dolor sit amet</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>Create the seed of your business</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Let us do the grind work</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Who doesn't love contests</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->



{% endblock %}