<html>
<head>
<title>[name]</title>
<style>
body {
  background-color: #151515;
  margin-top: 25%;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid #C52D2F;
  border-radius: 5px;
  background-color: #C52D2F;
  padding: 10px;
  width: 25%;

}

a:link {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

a:active {
    color: #FFF;
    text-decoration: none;
}


</style>
</head>
<body>
<a href="home.html"><h2>Enter [name] website.</h2></a>
</body>
</html>